*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Ensure consistent font rendering */
}

.tabs {
    height: 15.5vh;
    width: auto;
    position: absolute;
    top: 1vh;
    left: 80vh;
    align-items: center;    
}

ul{
    gap: 0.01vh;
}

.mainpic {
    height: 108.5vh;
    width: auto;
    align-items: center;
}

.pic {
    width: 300vh;
}


.aboutbmw {
    height: 110vh;
    background-image: url('bmw pro2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    background-attachment: fixed;
    /*height: 100%;
    width: 100%;
    z-index: 1;*/

}

.logo {
    width: 60vh;
    border: 1vh ;
    border-radius: 100%;
    z-index: 1;
    box-shadow: 3px 3px 3px rgb(122, 122, 198), -1px -1px 20px rgb(169, 103, 103);
}

.logo-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    width: 72vh;
    height: 45vh;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    bottom: 33vh;
    right: 28vh;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 2s, visibility 2s;
}

.logo-container:hover .tooltip {
    visibility: visible;
    opacity: 5;
    transition-delay: 1s;
   
}

.logo-container .tooltip {
    visibility: hidden;
    opacity: 0;
    transition-delay: 1s;
}

.tooltip2 {
    visibility: hidden;
    width: 70vh;
    height: 45vh;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    bottom: 10vh;
    left: 99vh;
    top: 33vh;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 2s, visibility 2s;
}

.logo-container:hover .tooltip2 {
    visibility: visible;
    opacity: 5;  
    transition-delay: 2s;
}

.logo-container .tooltip2 {
    visibility: hidden;
    opacity: 0;
    transition-delay: 2s;
}

.bmwfont {
    font-family: "Ga Maamli", sans-serif;
    font-weight: 1;
    font-style: normal;
    font-size: 3vh;
  }



.tooltip3 {
    visibility: hidden;
    width: 50vh;
    height:1vh;
    color: #fff;
    background-color: #007bff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    bottom: 9.5vh;
    right: 53vh;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 2s, visibility 2s;
}

.logo-container:hover .tooltip3 {
    visibility: visible;
    opacity: 5;  
    transition-delay: 3s;
}

.logo-container .tooltip3 {
    visibility: hidden;
    opacity: 0;
    transition-delay: 3s;
}

.tooltip4 {
    visibility: hidden;
    background-color: #cd1212;
    width: 0.001vh;
    height: 38vh;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    bottom: 35vh;
    left: 90vh;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 2s, visibility 2s;
}

.logo-container:hover .tooltip4 {
    visibility: visible;
    opacity: 5;  
    transition-delay: 4s;
}

.logo-container .tooltip4 {
    visibility: hidden;
    opacity: 0;
    transition-delay: 4s;
}
.bmwfont2 {
    font-family: "Playfair Display", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 6vh;
    align-items: center;
}



.m {
    height: 110vh;
    background-image: url('bmw pro1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    background-attachment: fixed;
}

.mpic {
    width: 60vh;
    border: 1vh ;
    border-radius: 15%;
    z-index: 1;
    box-shadow: 3px 3px 3px rgb(80, 80, 191), -2px -2px 30px rgb(153, 59, 59);
}

.m-container2 {
    position: relative;
    display: inline-block;
}

.text1 {
    visibility: hidden;
    width: 140vh;
    height: 25vh;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    bottom: 44.8vh;
    left: 70vh;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 2s, visibility 2s;
}

.m-container2:hover .text1 {
    visibility: visible;
    opacity: 5;
    transition-delay: 1s;
}

.m-container2 .text1 {
    visibility: hidden;
    opacity: 0;
    transition-delay: 1s;
}

.text2 {
    visibility: hidden;
    width: 150vh;
    height: 25vh;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    bottom: 0vh;
    left: -8vh;
    top: 37vh;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 2s, visibility 2s;
}

.m-container2:hover .text2 {
    visibility: visible;
    opacity: 5;
    transition-delay: 2s;
}

.m-container2 .text2 {
    visibility: hidden;
    opacity: 0;
    transition-delay: 2s;
}
.bmwfont {
    font-family: "Ga Maamli", sans-serif;
    font-weight: 0.1;
    font-style: normal;
    font-size: 3vh;
  }


.text3 {
    visibility: hidden;
    width: 1vh;
    height: 55vh;
    background-color: rgba(27, 18, 128, 0.756);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    right: 125vh;
    bottom: 13vh;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 2s, visibility 2s;
}

.m-container2:hover .text3 {
    visibility: visible;
    opacity: 5;
    transition-delay: 3s;
}

.m-container2 .text3 {
    visibility: hidden;
    opacity: 0;
    transition-delay: 3s;
}

.text4 {
    visibility: hidden;
    width: 50vh;
    height: 1vh;
    background-color: rgba(65, 156, 136, 0.756);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 23.8vh;
    left: 110vh;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 2s, visibility 2s;
}

.m-container2:hover .text4 {
    visibility: visible;
    opacity: 5;
    transition-delay: 4s;
}

.m-container2 .text4 {
    visibility: hidden;
    opacity: 0;
    transition-delay: 4s;
}


.carinfo {
    height: 120vh;
    width: auto;
    background-image: url('bmw back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    background-attachment: fixed;
}

.container {
    border: 7vh solid;
    margin-right: 0px;
    margin-left: 0px;
    border-top: 0vh;
}

.section is-medium{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 60px;
    padding-bottom: 0px;  
}

/* {
    box-sizing: border-box;
}*/
.slideshow-container {
    position: relative;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}

.carslides {
    height: 100vh;
    padding-top: 4vh;
    padding-left: 2vh;
    padding-right: 2vh;
    background-image: url('../blueandred.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
}

.slides {
    display: none;
    width: 280vh;
    height: 660px;
    
}

.slideshow-container img {
    width: 55%;
    height: 660px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    right: 10;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 28px;
    transition: 0.7s ease;
    border-radius: 0 19px 19px 0;
    user-select: none;
    background-color: #000000;
}

.next {
    right: 0;
    right: 4.2vh;
    border-radius: 19px 0 0 19px;
}

.next:hover {
    background-color: rgba(102, 11, 4, 0.8);
}

.prev:hover {
    background-color: #1c036c;
}

.dot-container {
    text-align: center;
    padding: 5.5px;
    background: opacity;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    height: 6vh;
    width: auto;
    position: relative;
    bottom: 4.3vh;
   right: 3.9vh;

}

.dot {
    cursor: pointer;
    height: 17px;
    width: 17px;
    margin: 1vh 0.2vh;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #ffffff;

}



.partsofcar {
    height: 300vh;
    width: auto;
    background-image: url('bmw design 1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    background-attachment: fixed;
}

.headlight {
    height: 45vh;
    width: auto;
    border: 1vh ;
    position: relative;
    bottom: 35vh;
    right: 9vh;
    z-index: 1;
    border: 1px ;
    padding: 20px;
    box-shadow: 18px 18px 18px rgb(29, 26, 215), -1px -1px 20px rgb(242, 0, 0);
}
.hl,.wl,.bl,.eg,.pt,.ad,.it,.sm {
    position: relative;
    display: inline-block;
}
.matter1 {
    visibility: hidden;
    width: 60vh;
    height: 45vh;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 15vh;
    left: 20.3vh;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 2s, visibility 2s;
}
.hl:hover .matter1, .wl:hover .matter2, .bl:hover .matter3, .eg:hover .matter4, .pt:hover .matter5, .ad:hover .matter8, .it:hover .matter7, .sm:hover .matter6{
    visibility: visible;
    opacity: 5;
    transition-delay: 1s;
}

.hl .matter1, .wl .matter2, .bl .matter3, .eg .matter4, .pt .matter5, .ad .matter8, .it .matter7, .sm .matter6 {
    visibility: hidden;
    opacity: 0;
    transition-delay: 1s;
}

.wheel {
    height: 45vh;
    width: auto;
    border: 1vh ;
    position: relative;
    top: 15vh;
    z-index: 1;
    padding: 10px;
    box-shadow: 20px 20px 20px rgb(29, 26, 215), -1px -1px 20px rgb(242, 0, 0);
}
.matter2 {
    visibility: hidden;
    width: 55vh;
    height: 45vh;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    bottom: 35vh;
    left: 22.3vh;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 2s, visibility 2s;
}

.backlight {
    height: 45vh;
    width: auto;
    border: 1vh ;
    position: relative;
    bottom: 34vh;
    left: 10vh;
    padding: 20px;
    box-shadow: 18px 18px 18px rgb(29, 26, 215), -1px -1px 20px rgb(242, 0, 0);
}
.matter3 {
    visibility: hidden;
    width: 57vh;
    height: 45vh;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 15vh;
    left: 40vh;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 2s, visibility 2s;
}

.engine {
    height: 45vh;
    width: 57vh;
    border: 1vh ;
    position: relative;
    top: 54.5vh;
    right: 6.2vh;
    padding: 20px;
    box-shadow: 16px 16px 16px rgb(29, 26, 215), -1px -1px 20px rgb(242, 0, 0);
}
.matter4 {
    visibility: hidden;
    width: 104vh;
    height: 30vh;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    transform: translateX(90%);
    top: 103vh;
    right: 53vh; 
    z-index: 2;
    opacity: 0;
    transition: opacity 2s, visibility 2s;
}

.poster {
    height: 119vh;
    width: auto;
    border: 1vh ;
    position: relative;
    top: 54vh;
    right: 0vh;
    left: 0vh;

    box-shadow: 15px 15px 15px rgb(29, 26, 215), -1px -1px 20px rgb(242, 0, 0);
}

.sidemirror {
    height: 45vh;
    width: 59vh;
    border: 1vh ;
    position: relative;
    bottom: 94vh;
    right: 103vh;
    padding: 10px;
    box-shadow: 15px 15px 15px rgb(29, 26, 215), -1px -1px 20px rgb(242, 0, 0);
}
.matter6 {
    visibility: hidden;
    width: 55vh;
    height: 47vh;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    transform: translateX(-184.7%);
    bottom: 47vh; 
    z-index: 2;
    opacity: 0;
    transition: opacity 2s, visibility 2s;
}


.interior {
    height: 45vh;
    width: 58vh;
    border: 1vh ;
    position: relative;
    bottom: 94vh;
    left: 102vh;
    padding: 15px;
    box-shadow: 15px 15px 15px rgb(29, 26, 215), -1px -1px 20px rgb(242, 0, 0);
}
.matter7 {
    visibility: hidden;
    width: 55vh;
    height: 48vh;
    
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    transform: translateX(185.9%);
    bottom: 43.5vh;
    z-index: 2;
    opacity: 0;
    transition: opacity 2s, visibility 2s;
}


 .aerodynmics {   
    height: 44vh;
    width: auto; 
    border: 1vh ;
    position: relative;
    top: 54vh;
    left: 5.6vh;
    padding: 20px;
    box-shadow: 16px 16px 16px rgb(29, 26, 215), -1px -1px 20px rgb(242, 0, 0);  
}


.video {
    display: flex;
    justify-content: center;
    align-items: center;
}


.mapspage {
    height: 130vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-image: url("location2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    text-align: center;
}

.map-container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgb(188, 188, 188);
}


.map-container h1 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #000000;
    font-weight: bold;
}

.map-wrapper {
    position: relative;
    width: 100%;
    height: 580px;
}

.map {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    bottom: 73vh;
    right: 66vh;
    width: 77px;
    height: 60px;
    background: white;
    z-index: 2;
}

.location-info {
    margin-top: 20px;
    text-align: left;
}

.location-info h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.location-info p {
    margin-bottom: 5px;
    font-size: 16px;
    color: #666;
}

.location-info button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.location-info button:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
    .map-container {
        padding: 10px;
    }

    .map-container h2 {
        font-size: 20px;
    }

    .map-container p,
    .location-info p {
        font-size: 14px;
    }

    .location-info button {
        font-size: 14px;
    }

    .map {
        height: 300px;
    }
}



.end {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {

    text-align: center;
    border-color: #1a1818;
    border-bottom: 0vh;
    border-left: 0vh;
    border-right: 0vh;
}

.container p { 
    font-size: 16px;
}

.container ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px 0 0 0;
}

.container ul li {
    display: inline;
}

.container ul li a {
    text-decoration: none;
    font-size: 14px;
}


.about-creator {
    background-color: #000000;
    padding: 40px;
    text-align: center;
}

.about-creator .container {
    max-width: 800px;
    margin: 0 auto;
}

.about-creator h2 {
    font-size: 2em;
    margin-bottom: 20px;
}
.about-creator p {
    font-size: 1.2em;
}




.inspiration {
    background-color: #000000;
    padding: 40px;
    text-align: center;
}

.inspiration .container {
    max-width: 800px;
    margin: 0 auto;
}

.inspiration h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.inspiration p {
    font-size: 1.2em;
}




.contact-info {
    background-color: #000000;
    padding: 40px;
    text-align: center;
}

.contact-info .container {
    max-width: 800px;
    margin: 0 auto;
}

.contact-info h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 1.2em;
}

.contact-info a {
    color: #0056b3;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}






.socialmedia {
    height: 10vh;
    background-color: #3871ae;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
    gap: 50px;
    position: relative;
    top: 0vh;
}

.icons .icon {
    text-decoration: none;
    color: #000000; /* Change this to your preferred color */
    font-size: 40px;
    transition: color 0.3s ease; /* Add transition for smooth hover effect */
}

.icons .icon:hover {
    color: #aeb5bd; /* Change this to your preferred hover color */
}

@media (max-width: 768px) {
    .socialmedia {
        height: auto;
        padding: 10px;
    }

}